###
###  Permet de retirer des fichiers non tracké de la liste dressé lors du git status
###

##### Exemple provenant de 
### https://alexgirard.com/git-book/intermediaire/git-ignore/

### Les ligne commençant par '#' sont des commentaires.
### Ignorer tous les fichiers nommés foo.txt
# foo.txt
### Ignorer tous les fichiers annexes (fichiers de compilation )
###     se terminant par :
*.aux
*.synctex.gz
*.log
*.out
*.bbl
*.blg
### Ignorer tous les fichier (ou dossier) commencant par :
essai_*
consignes*
### à l'exception de foo.html qui est maintenu à la main
# !foo.html
### Ignorer les objets et les archives
# *.[oa]#
